.Card_Styles{
    display: flex;
    justify-content: center;
   text-align: center;
position: relative;
padding-top: 20vh;
  
.Card{
    border-radius: 3%;
}

.form-Conrtol{
    width: 350px;
   
}

   .send_Massage{
    text-align: center;
   }
}
